@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Roboto'; }
/* */
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  padding: 0
}
h1 {
    color: rgb(0, 0, 77);
    text-shadow: -1px 0 rgb(181, 226, 247), 0 1px rgb(181, 226, 247), 1px 0 rgb(181, 226, 247), 0 -1px rgb(181, 226, 247);
}

h2 {

    color: rgb(181, 226, 247);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  }

.remark-slide-content h1 { font-size: 50px; }
.remark-slide-content h2 { font-size: 40px; }
.remark-slide-content h3 { font-size: 30px; }
.remark-slide-content img { width: 100%; }
.remark-slide-content { padding-left: 50px; padding-right: 50px; }

blockquote {
    font-style: italic;
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 1.25em 1.5em;
    background-color: #f5f5f5;
    border-left: 5px solid #dbdbdb;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-inline-code { font-weight: bold; }

/* Two-column layout */
.lcol { width: 49%; float: left; }
.lcol-narrow { width: 39%; float: left; }
.lcol-narrow2 { width: 24%; float: left; }
.lcol-wide { width: 59%; float: left; }
.lcol-wide2 { width: 74%; float: left; }
.rcol { width: 49%; float: right; }
.rcol-narrow { width: 39%; float: right; }
.rcol-narrow2 { width: 24%; float: right; }
.rcol-wide { width: 59%; float: right; }
.rcol-wide2 { width: 74%; float: right; }
.wide { clear: both; }

code { -moz-border-radius: 5px; -web-border-radius: 5px; border-radius: 5px; }
a { color: #2c495b; text-decoration: none; }
em { color: #c63235 }
.remark-slide-content { font-size: 25px; }
ul>li, ol>li { margin-top: 5px; }
.section { font-size:16px; float:right; clear:both; }
.small, .small .remark-code-line { font-size: 60%;  }
.medium, .medium .remark-code-line { font-size: 80%; }
.condensed { line-height: 0.8em; font-size: 90%; }
.size-90, .size-90 .remark-code-line { font-size: 90%; }
.size-85, .size-85 .remark-code-line { font-size: 85%; }
.multicode pre { margin-top: 10px; margin-bottom: 10px; }
.remark-slide pre, .remark-slide img { margin-top: 25px; margin-bottom: 25px; }
.attention { -moz-border-radius: 5px; -web-border-radius: 5px; border-radius: 5px;
    background-color: #fbd2d2; text-align: center; }
.attention p { margin: 10px; }
.footer { position: absolute; bottom: 12px; left: 20px; font-size: 70%; }
.footer.small { font-size: 50%; }
.footer, li > p { margin:0; }
.ref { color:red; vertical-align: super; font-size: 70%; }
.created { font-size: 40%; margin-bottom: 2em; }
.created:before {
    content: "Kreirano: ";
}

/* Tables */
/* Code below taken from: https://github.com/yahoo/pure/blob/master/src/tables/css/tables.css  and adapted */

table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.center-table table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}

table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

table td,
table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
table td:first-child,
table th:first-child {
    border-left-width: 0;
}

table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
table td {
    background-color: transparent;
}
table-odd td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
table tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
table td {
    border-bottom: 1px solid #cbcbcb;
}
table tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

table-horizontal td,
table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}

/*! bulma.io v0.4.2 | MIT License | github.com/jgthms/bulma */
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spinAround {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */



p {
    margin: 0;
    padding: 0

}

.message {
    background-color: #f5f5f5;
    border-radius: 3px;
    font-size: 1rem
}

.message:not(:last-child) {
    margin-bottom: 1.5rem
}

.message.is-white {
    background-color: #fff
}

.message.is-white .message-header {
    background-color: #fff;
    color: #0a0a0a
}

.message.is-white .message-body {
    border-color: #fff;
    color: #4d4d4d
}

.message.is-black {
    background-color: #fafafa
}

.message.is-black .message-header {
    background-color: #0a0a0a;
    color: #fff
}

.message.is-black .message-body {
    border-color: #0a0a0a;
    color: #090909
}

.message.is-light {
    background-color: #fafafa
}

.message.is-light .message-header {
    background-color: #f5f5f5;
    color: #363636
}

.message.is-light .message-body {
    border-color: #f5f5f5;
    color: #505050
}

.message.is-dark {
    background-color: #fafafa
}

.message.is-dark .message-header {
    background-color: #363636;
    color: #f5f5f5
}

.message.is-dark .message-body {
    border-color: #363636;
    color: #2a2a2a
}

.message.is-primary {
    background-color: #f5fffd
}

.message.is-primary .message-header {
    background-color: #00d1b2;
    color: #fff
}

.message.is-primary .message-body {
    border-color: #00d1b2;
    color: #021310
}

.message.is-info {
    background-color: #f6f9fe
}

.message.is-info .message-header {
    background-color: #3273dc;
    color: #fff
}

.message.is-info .message-body {
    border-color: #3273dc;
    color: #22509a
}

.message.is-success {
    background-color: #f6fef9
}

.message.is-success .message-header {
    background-color: #23d160;
    color: #fff
}

.message.is-success .message-body {
    border-color: #23d160;
    color: #0e301a
}

.message.is-warning {
    background-color: #fffdf5
}

.message.is-warning .message-header {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, .7)
}

.message.is-warning .message-body {
    border-color: #ffdd57;
    color: #3b3108
}

.message.is-danger {
    background-color: #fff5f7
}

.message.is-danger .message-header {
    background-color: #ff3860;
    color: #fff
}

.message.is-danger .message-body {
    border-color: #ff3860;
    color: #cd0930
}

.message-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #4a4a4a;
    border-radius: 3px 3px 0 0;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1.25;
    padding: .5em .75em;
    position: relative
}

.message-header a, .message-header strong {
    color: inherit
}

.message-header a {
    text-decoration: underline
}

.message-header .delete {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: .75em
}

.message-header + .message-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none
}

.message-body {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #4a4a4a;
    padding: 0.1em 0.5em
}

.message-body a, .message-body strong {
    color: inherit
}

.message-body a {
    text-decoration: underline
}

.message-body code, .message-body pre {
    background: #fff
}

.message-body pre code {
    background: 0 0
}